<script src="/javascripts/Chart.min.js"></script>
<h1>Home Page</h1>

<div class="home-page">
  <h1 > <i> TRADE STOCKS EASILY AND SECURILY WITH <img src="/images/large_financely.png"></i></h1>
</div>
<div class="news">
  {{#each favoriteNews}}
    <h2>Latest {{this.symbol}} news</h2>
        <canvas id="{{this.symbol}}" ></canvas>
    {{#each this.news}}
        <h5>
        <a href="{{this.url}}" target="_blank">
            {{this.headline}}
        </a>
    </h5>
    <p>
        {{this.summary}}
    </p>
    {{/each}}
  {{/each}}
<script>
  function initCharts(){
  {{#each stockHistory}}
  let {{this.symbol}}Ctx = document.getElementById('{{this.symbol}}').getContext('2d');
  let {{this.symbol}}Chart = new Chart({{this.symbol}}Ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: '{{this.symbol}}',
            data: [
            {{#each this.dayArray}}
              {{this.close}},
            {{/each}}
            ]
        }],
        labels: [{{#each this.dayArray}}
                '{{this.label}}',
               {{/each}}]
        
    },
  })
  {{/each}}
  }
  window.onload = initCharts
</script>
</div>