<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th></th>
        </tr>
    </thead>
                <tr>
                <td>{{stockData.symbol}}</td>
                <td>{{stockData.companyName}}</td>
                <td>{{stockData.latestPrice}}</td>
                <td>{{stockData.changePercent}}</td>
                <td>
                    <form action="/buy" method="POST">
                    <input type="hidden" name="price" value="{{stockData.latestPrice}}">
                    <input type="hidden" name="symbol" value="{{stockData.symbol}}">
                    <input type="number" name="shares" value="0">
                    <button type="submit" class="btn btn-primary">BUY</button>
                    </form>
                </td>
                </tr>
        
</table>
