
<h1 class="homepage">You have <span style="color: green">${{moneyLeft}}</span> left</h1>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th>N. of shares</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
         {{#each results}}
                <tr>
                <td>
                    <a href="/stock?symbol={{this.data.symbol}}">
                    {{this.data.symbol}}
                    </a>
                </td>
                <td>{{this.data.companyName}}</td>
                <td>${{this.data.latestPrice}}</td>
                <td>
                    <span style="color:{{#if this.data.changeGreen}}green;{{else}}red;{{/if}}">               
                    {{this.data.changePercent}}%
                    </span>
                </td>
                <td>
                    <form action="/buy" method="POST">
                    <input type="hidden" name="price" value="{{this.data.latestPrice}}">
                    <input type="hidden" name="symbol" value="{{this.data.symbol}}">
                    <input type="number" name="shares" value="0" onchange="displayPrice(Number(this.value)*Number({{this.data.latestPrice}}),'{{this.data.symbol}}-price')" class= 'form-control buy-input'>
                    <p id="{{this.data.symbol}}-price"></p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">BUY</button>
                    </form>
                </td>
                {{#if this.data.notFavorite}}
                    <td>    
                        <form action="/favorites" method="POST">
                        <label for="favourite" >
                        <input type="hidden" name="symbol" value="{{this.data.symbol}}">
                        <input type="hidden" name="remove" value='notRemove'>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <button type="submit" class="btn btn-primary"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/MediaWiki_Vector_skin_white_star_watchlist_icon.svg/768px-MediaWiki_Vector_skin_white_star_watchlist_icon.svg.png" alt="" class="watchlist-image">ADD TO WATCHLIST</button>
                       
                        </form>
                        </label>
                    </td> 
                {{else}}
                    <td>
                    
                    <form action="/stocks" method="POST">
                        <input type="hidden" name="symbol" value="{{this.data.symbol}}">
                        <button type="submit" class="btn btn-primary">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/MediaWiki_Vector_skin_blue_star_watchlist_icon.svg/1024px-MediaWiki_Vector_skin_blue_star_watchlist_icon.svg.png" alt="" class="watchlist-image">remove from watchlist</button>
                    </form>
                    
                    </td>
                {{/if}}
                </tr>
        {{/each}}
        
</table>
<script src="/javascripts/stocks.js"></script>