<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th></th>
        </tr>
    </thead>
                <tr>
                <td>{{stockData.symbol}}</td>
                <td>{{stockData.companyName}}</td>
                <td>{{stockData.latestPrice}}</td>
                <td><span style="color:{{#if stockData.changeGreen}}green;{{else}}red;{{/if}}">               
                    {{stockData.changePercent}}%</span></td>
                <td>
                    <form action="/buy" method="POST">
                    <input type="hidden" name="price" value="{{stockData.latestPrice}}">
                    <input type="hidden" name="symbol" value="{{stockData.symbol}}">
                    <input type="number" name="shares" value="0">
                    <button type="submit" class="btn btn-primary">BUY</button>
                    </form>
                </td>
                </tr>
        
</table>
<h2>{{stockData.companyName}} ({{companyData.exchange}})</h2>
<p>
    <a href="{{companyData.website}}" target="_blank">
        {{companyData.website}}
    </a>
</p>
<p>{{companyData.description}}</p>
<p>CEO: {{companyData.CEO}}</p>
<p>Employees: {{companyData.employees}}</p>
<br/>
<h2>Latest {{stockData.symbol}} news</h2>
{{#each news}}
    <h5>
        <a href="{{this.url}}" target="_blank">
            {{this.headline}}
        </a>
    </h5>
    <p>
        {{this.summary}}
    </p>
{{/each}}