<table class="table">
    <h1 class="homepage">These are your favourite stocks</h1>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Primary Exchange</th>
            <th>Price</th>
            <th>Change (%)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
                  {{#each stockI}}
                    <tr>
                      <td>
                        <a href="/stock?symbol={{this.data.symbol}}">
                        {{this.data.symbol}}
                        </a>
                      </td>
                      <td>{{this.data.companyName}}</td>
                       <td>{{this.data.primaryExchange}}</td>
                      <td>${{this.data.latestPrice}}</td>
                      <td><span style="color:{{#if this.data.changeGreen}}green;{{else}}red;{{/if}}">
                        {{this.data.changePercent}}%
                        </span>
                      </td>
                      
                    <td>    
                    <form action="/favorites" method="POST">
                    <label for="favourite" >
                    <input type="hidden" name="symbol" value="{{this.data.symbol}}">
                    <input type="hidden" name="remove" value='remove'>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <button type="submit" class="btn btn-primary">REMOVE FAVORITE</button>
                    </form>
                    </form>
                    </label>
                    </td>
                      
                    </tr>
                  {{/each}}
        
</table>