
{{#if userData}}
  <ul>
     <li >
          <a class="logout-button" href="/auth/logout">LOGOUT</a> 
      </li>
  </ul>     
  <p>Hello {{userData.name}}</p>
  <p>Your email is {{userData.email}} and you have ${{userData.money}} left in your account</p>
  <form action="/profile/add-funds" method="POST">
  <p>Add <input type="number" name="dollars"> $ from your credit card ({{userData.creditCard}})
  <button type="submit" class="btn btn-primary">ADD FUNDS</button>
  </p>
  </form>

<a href="/favorites">Go and check your favorite stocks</a>
{{else}}
<ul >
     <!--<li class="account-page">
          <a  href="/auth/signup">Signup <span>|</span></a>
          <a   href="/auth/signin">Sign In</a> 
     </li>-->
     <form method="POST" action="/auth/signin">
    <label for="user-email">Email</label>
    <input type="email" name="email" id="user-email" >
    <label for="user-pass">Password</label>
    <input type="password" name="password" id="user-pass" >
    <button type="submit" >Sign In</button>
    </form>
    <p class="center">Not a member? <a href="/auth/signup">Signup</a></p>
          
  </ul>
{{/if}}